.btnStyle {
  border: 1px solid orange;
  color: blue;
  background: rgb(8, 255, 8);
  padding: 5px 10px;
  transition: border, box-shadow 0.3s;
  &:hover {
    color: rgb(8, 255, 77);
    background: blue;
    border: 1px solid #aaa;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
}
